.viewMap-enter {
	opacity: 0;
	transform: scale(0.1);
}
.viewMap-enter-active {
	opacity: 1;
	transform:  scale(1);
	transition: opacity 500ms, transform 500ms;
}
.viewMap-exit {
	opacity: 1;
}
.viewMap-exit-active {
	opacity: 0;
	transform: scale(0.1);
	transition: opacity 500ms, transform 500ms;
}
