html,
body,
:root {
	color-scheme: light dark;
	overflow-x: hidden;
	min-height: 100vh;
	width: 100vw;
	margin: 0%;
	font-family: Helvetica, Arial, sans-serif;
	--color-a: #00171f;
	--color-b: #003459;
	--color-c: #007ea7;
	--color-d: #00a8e8;
	--color-e: #ffffff;
}

.App {
	background-color: var(--color-a);
	min-height: 100vh;
	overflow-y: auto;
}

button {
	border: none;
	border-radius: 0.3rem;
	padding-top: 0.1rem;
	padding-bottom: 0.1rem;
	background: var(--color-c);
	color: var(--color-e);
	transition: box-shadow 0.4s ease;
}
button:hover {
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
	background: radial-gradient(circle, var(--color-d), var(--color-c));
	cursor: pointer;
}